body{
    background-color: beige;
    color: cornflowerblue;
}

.tableBtn, .reserveBtn, .book, .homeBtn{
    background-color: cornflowerblue;
    color: black;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;

}

h1, h2{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px;

}